@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
body {
  color: #5c5c5c;
  background-color: #f8f8f5;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <body> 中添加 .borderbox 这个 class */
body.borderbox *, body.borderbox *:before, body.borderbox *:after {
  box-sizing: border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
  display: inline-block;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea, optgroup {
  font: normal 1em/1.8 "Classic Grotesque W01", "Avenir Next", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Lantinghei SC", "Microsoft YaHei UI", "Microsoft Yahei", "Source Han Sans", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
}

/* 去掉各 Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 去除默认边框 */
fieldset, img {
  border-style: none;
}

/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {
  list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left;
}

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

:root sub, :root sup {
  vertical-align: baseline; /* for ie9 and other modern browsers */
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a {
  color: #5c5c5c;
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
  text-decoration: none;
}

.typo a {
  border-bottom: 1px solid #5c5c5c;
}

.typo a:hover {
  color: #212121;
  border-bottom: 1px solid #212121;
  text-decoration: none;
}

/* 代码片断 */
pre, code, kbd, samp, pre tt {
  font-family: Monaco, Consolas, Courier, "Courier New", monospace;
}

pre {
  background: #ebebeb;
  border: 1px solid #ddd;
  padding: 1em 1.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
}

/* 一致化 horizontal rule */
hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  box-sizing: content-box;/*1. Add the correct box sizing in Firefox.*/
  overflow: visible;/*1. Show the overflow in Edge and IE*/
  height: 10px;
}

/* 底部印刷体、版本等标记 */
small, .typo-small,
  /* 图片说明 */
figcaption {
  font-size: 0.9em;
  color: #888;
}

strong, b {
  font-weight: bold;
  color: #212121;
}

/* 保证块 / 段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote {
  margin-bottom: 1.2em
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  line-height: 1.35;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6,
.typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-h5, .typo-h6 {
  padding-top: 1.5em;
  padding-bottom: 0.6em;
  line-height: 1.35;
}

.typo h1, .typo-h1 {
  font-size: 2em;
}

.typo h2, .typo-h2 {
  font-size: 1.5em;
}

.typo h3, .typo-h3 {
  font-size: 1.17em;
}

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul, .typo-ul {
  margin-left: 1.3em;
  list-style: disc;
}

.typo ol, .typo-ol {
  list-style: decimal;
  margin-left: 1.9em;
}

.typo li ul, .typo li ol, .typo-ul ul, .typo-ul ol, .typo-ol ul, .typo-ol ol {
  margin-bottom: 0.8em;
  margin-left: 2em;
}

.typo li ul, .typo-ul ul, .typo-ol ul {
  list-style: circle;
}

/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th, .typo table td, .typo-table th, .typo-table td, .typo table caption {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #666;
}

.typo table th, .typo-table th {
  background: #fbfbfb;
}

.typo table thead th, .typo-table thead th {
  background: #f1f1f1;
}

.typo table caption {
  border-bottom: none;
}

/* 去除 webkit 中 input 和 textarea 的默认样式  */
.typo-input, .typo-textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

.typo-em, .typo em, legend, caption {
  color: #000;
  font-weight: inherit;
}

/* 着重号，只能在少量（少于 100 个字符）且全是全角字符的情况下使用 */
.typo-em {
  position: relative;
}

.typo-em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  content: " ・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・ ";
}
body,
button,
input,
select,
textarea,
optgroup {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  body,
  button,
  input,
  select,
  textarea,
  optgroup {
    font-size: 14px;
  }
}
.main section {
  min-height: calc(100vh - 162px - 6rem) /* 162px 是上下栏， 6rem 是 line-height+margin*2， 4px 是 border*2 */;
}
main {
  display: block;
  margin: 0 auto;
  max-width: 960px;
  width: 95%;
  min-height: calc(100vh - 162px);
}
blockquote {
  margin: 0;
  margin-bottom: 1.2em;
  padding: 1em;
  border-left: 6px solid #5c5c5c;
  color: #5c5c5c;
  background-color: #ebebeb;
}
img {
  display: block;
  margin: 0 auto;
  max-height: 500px;
  max-width: 70%;
}
code {
  padding: 0.1em 0.5em;
  border-radius: 3px;
  background-color: #ebebeb;
}
kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.4;
  text-shadow: 0 1px 0 #fff;
  background-color: #ebebeb;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #f8f8f5 inset;
  color: #333;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: font-mono;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.highlight {
  font-size: 0.8em;
  overflow: auto;
}
.highlight table {
  width: 100%;
  margin-bottom: 0;
}
.highlight table td {
  padding: 0;
  border: 0;
}
.highlight table td pre {
  border: none;
  margin-bottom: 0;
}
.typo blockquote p,
.typo blockquote ul {
  margin-bottom: 0;
}
.typo ul {
  margin-left: 2.5em;
}
.IPA {
  width: 2em;
  height: 2em;
  font-family: "Segoe UI", Verdana, "Lucida Sans Regular", "Lucida Sans Unicode", Arial, sans-serif;
  line-height: 1.5em;
  text-align: center;
}
.date {
  font-family: Georgia, Constantia, Candara, Corbel, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer {
  width: 100%;
  height: 90px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #ebebeb;
  background-color: #212121;
}
.footer-wrap {
  display: table;
  margin: auto;
  max-width: 960px;
  width: 100%;
  height: 90px;
}
.footer-wrap-inner {
  display: table-cell;
  vertical-align: middle;
}
.footer-wrap-inner p {
  margin-bottom: 0;
}
.footer-wrap-inner a {
  color: #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.footer-wrap-inner a:hover {
  color: #f8f8f5;
  border-bottom: 1px solid #f8f8f5;
}
a.symbol {
  display: inline-block;
  border: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
a.symbol:hover {
  border: none;
}
a.symbol svg {
  display: inline-block;
  vertical-align: middle;
}
.icon {
  width: 16px;
  height: 16px;
  outline-color: #444;
  border-color: #444;
  text-shadow: none;
  color: #ccc;
}
.header {
  background-color: #212121;
}
.header-wrap {
  margin: auto;
  max-width: 960px;
  height: 72px;
}
.header-wrap .nav-toggle {
  border: none;
}
.nav-toggle {
  position: absolute;
  top: 36px;
  left: 10px;
  z-index: 2;
  display: none;
  margin-top: -20px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  background-image: none;
  cursor: pointer;
}
.nav-toggle span {
  position: relative;
  display: block;
  margin-bottom: 5px;
  width: 25px;
  height: 3px;
  border-radius: 1px;
  background: #f8f8f5;
  transform-origin: 24px;
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.toggle-animate span {
  opacity: 1;
}
.toggle-animate span:nth-last-child(1) {
  opacity: 1;
  transform: rotate(45deg);
}
.toggle-animate span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg);
}
.toggle-animate span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(-45deg);
}
nav .site-avatar,
nav a.site-title,
nav .site-description {
  display: none;
}
.site-meta {
  float: left;
}
.site-info {
  display: table;
  float: right;
  height: 72px;
}
.site-info-wrap {
  display: table-cell;
  vertical-align: middle;
}
a.site-title {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: none;
  color: #ebebeb;
  font-size: 28px;
  font-weight: bolder;
  text-decoration: none;
  line-height: 28px;
}
a.site-title:hover {
  color: #f8f8f5;
  border-bottom: none;
}
.site-description {
  line-height: 16px;
  vertical-align: bottom;
  color: #ebebeb;
}
.site-avatar {
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
  width: 56px;
  height: 56px;
  border-radius: 5px;
}
.menu {
  float: right;
  line-height: 72px;
}
.menu .menu-items {
  margin: 0;
  padding: 0;
}
.menu-item {
  display: inline-block;
  list-style: none;
}
.menu-item .menu-item-link {
  position: relative;
  display: inline-block;
  width: 5.2rem;
  border: none;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  color: #ebebeb;
}
.menu-item .menu-item-link:hover {
  border: none;
  color: #f8f8f5;
}
.menu-item .menu-item-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.2rem;
  background: transparent;
  transition: height 0.25s cubic-bezier(0, 0, 0.2, 1), background-color 0.25s cubic-bezier(0, 0, 0.2, 1);
}
.menu-item .menu-item-link:hover:after {
  height: 5px;
  background-color: #ebebeb;
}
@media screen and (max-width: 768px) {
  .header-wrap {
    text-align: center;
  }
  .site-meta {
    float: none;
    margin: auto;
  }
  .site-info {
    display: table;
    float: none;
    margin: auto;
    height: 72px;
  }
  .site-avatar {
    display: none;
  }
  .site-description {
    display: none;
  }
  nav .site-avatar,
  nav a.site-title,
  nav .site-description {
    display: block;
    margin: auto;
    padding: 3px;
    line-height: 1.35;
  }
  nav .site-title {
    font-size: 24px;
  }
  .site-avatar {
    width: 72px;
    height: 72px;
    border-radius: 36px;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    line-height: 48px;
    pointer-events: none;
  }
  .menu .menu-wrap {
    padding-top: 72px;
  }
  .menu ul>li::first-child {
    margin-top: 30px;
  }
  .nav-toggle {
    display: block;
  }
  .menu--visible {
    pointer-events: auto;
  }
  .menu-wrap {
    position: relative;
    z-index: 3;
    min-width: 260px;
    width: 38.2%;
    height: 100%;
    color: #f8f8f5;
    background-color: #212121;
    transform: translateX(-103%);
    will-change: transform;
    pointer-events: auto;
  }
  .menu-wrap .menu-item {
    display: block;
  }
  .menu-wrap .menu-info {
    margin-bottom: 30px;
  }
  .menu-wrap .menu-item-link {
    width: 100%;
  }
  .menu-wrap .menu-item-link:hover:after {
    display: none;
  }
  .menu-wrap .menu-item-text {
    letter-spacing: 0.5em;
    margin-left: 0.5em;
  }
  .menu--visible .menu-wrap {
    transform: none;
  }
  .menu--animatable .menu-wrap {
    transition: all 130ms ease-in;
  }
  .menu--visible.menu--animatable .menu-wrap {
    transition: all 330ms ease-out;
  }
  .menu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    will-change: opacity;
  }
  .menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
  }
  .menu:after {
    width: 100%;
    height: 100%;
  }
}
.page-nav {
  padding: 2rem 0;
  text-align: center;
}
.page-nav .page-prev {
  float: left;
}
.page-nav .page-next {
  float: right;
}
.page-nav .page-prev,
.page-nav .page-next {
  width: 2rem;
  height: 2rem;
  border: 2px solid #5c5c5c;
  font-weight: bold;
  line-height: 1.5rem;
  text-decoration: none;
  color: #5c5c5c;
  transition: 0.25s ease-in-out;
}
.page-nav .page-prev:hover,
.page-nav .page-next:hover {
  border-color: #212121;
  color: #f8f8f5;
  background: #212121;
}
.page-number {
  display: inline-block;
  width: 10em;
  height: 2rem;
  line-height: 2rem;
  color: #5c5c5c;
}
.archive-page-counter {
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
}
.archive-item {
  padding: 0.5em;
  border-bottom: 1px dotted #5c5c5c;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
}
.archive-item:hover {
  border-bottom: 1px dotted #212121;
  transform: translateX(2px);
}
.archive-item .archive-title {
  overflow: hidden;
  width: 65%;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.archive-item .archive-title:hover {
  border: none;
}
.archive-item .archive-time {
  float: right;
}
.archives ul {
  margin: 0;
}
.category-item {
  padding: 0.5em;
  border-bottom: 1px dotted #5c5c5c;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
}
.category-item:hover {
  transform: translateX(2px);
}
.category-item .post-date {
  float: right;
}
.category-item .category-title {
  overflow: hidden;
  width: 65%;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category-item .category-title:hover {
  border: none;
}
.categories ul {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .categories h1 {
    text-align: center;
  }
}
.posts .post-title {
  margin-top: 0;
  text-align: left;
}
.posts .post-title .post-title-link {
  display: inline-block;
  margin-bottom: 5px;
  border: none;
  text-decoration: none;
  color: #212121;
  transition: color 0.3s ease;
}
.posts .post-title .post-title-link:after {
  content: '';
  display: block;
  margin-top: 2px;
  height: 2px;
  background: transparent;
  transition: height 0.25s cubic-bezier(0, 0, 0.2, 1), background-color 0.25s cubic-bezier(0, 0, 0.2, 1);
}
.posts .post-title .post-title-link:hover:after {
  height: 2px;
  background: #000;
}
.posts .post-meta {
  color: #5c5c5c;
}
.posts .post-meta a {
  text-decoration: none;
  color: #5c5c5c;
}
.posts .article-tag-link {
  margin: 0 6px;
  padding: 2px 0;
}
.posts .article-tag-link:hover {
  color: #212121;
}
.posts .post-content {
  padding: 1em 0;
}
.posts a.btn {
  display: inline-block;
  margin: auto;
  padding: 0 20px;
  border: 2px solid #5c5c5c;
  text-decoration: none;
  background: #f8f8f5;
  color: #5c5c5c;
  transition: 0.25s ease-in-out;
}
.posts a.btn:hover {
  border-color: #212121;
  color: #f8f8f5;
  background: #212121;
}
.posts a.btn:after {
  content: " »";
}
.posts article {
  position: relative;
  padding-top: 1em;
  padding-bottom: 3em;
  border-bottom: 1px solid #ebebeb;
}
.posts article:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  width: 7px;
  height: 7px;
  margin-left: -5px;
  border: 1px solid #ebebeb;
  border-radius: 100%;
  background: #f8f8f5;
  box-shadow: #f8f8f5 0 0 0 5px;
}
.posts article:last-child {
  border-bottom: 0;
}
.posts article:last-child:after {
  display: none;
}
@media screen and (max-width: 768px) {
  .post .post-title,
  .post .post-meta,
  .post .continue {
    text-align: center;
  }
}
.tagcloud .tagcloud-title {
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
}
.tagcloud a {
  padding: 0.5em;
  border: none;
  word-break: keep-all;
}
.tagcloud a:hover {
  border: none;
}
.category-all-page .category-all-title {
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
}
.category-all-page ul {
  margin: 0;
}
.category-all-page ul li {
  padding: 0.3em;
}
.category-all-page a {
  word-break: keep-all;
  margin-right: 0.5em;
}
.post-detail .article-tag-link {
  margin: 0 6px;
  padding: 2px 0;
}
.post-detail .post-content {
  padding: 1em 0;
}
.post-detail .post-title,
.post-detail .post-meta {
  text-align: center;
}
.post-detail h2:hover:after,
.post-detail h3:hover:after {
  content: " ¶";
  margin-right: 0.5em;
  color: #5c5c5c;
}
.post-detail .toc-title {
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ebebeb;
}
.post-detail .toc-article {
  float: right;
  margin-top: 1.5em;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid #5c5c5c;
}
.post-detail .toc-article ol {
  list-style: none;
}
.post-detail .toc-article .toc-link {
  border: none;
}
.post-detail .toc-article .toc-link:hover {
  border: none;
}
.post-detail .toc-article>ol {
  margin: 0;
}
a.top {
  position: fixed;
  right: 2rem;
  bottom: 0;
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: none;
  border-radius: 3px;
  text-align: center;
  background-color: #5c5c5c;
  opacity: 0;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
a.top:hover {
  border-bottom: none;
}
a.top:after {
  content: '';
  display: inline-block;
  margin-top: 14px;
  width: 14px;
  height: 14px;
  border-top: 4px solid #ebebeb;
  border-right: 4px solid #ebebeb;
  transform: rotate(-45deg);
}
a.toggle {
  bottom: 99px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .post-detail .toc-article {
    float: none;
    margin: 0;
  }
}
.tag-item {
  padding: 0.5em;
  border-bottom: 1px dotted #5c5c5c;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
}
.tag-item:hover {
  transform: translateX(2px);
}
.tag-item .post-date {
  float: right;
}
.tag-item .tag-title {
  overflow: hidden;
  width: 65%;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tag-item .tag-title:hover {
  border: none;
}
.tags ul {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .tags h1 {
    text-align: center;
  }
}
